.container {
    .table {
        border-left: 1px solid #000;

        .th {
            display: flex;
            align-items: center;

            .td {
                border-top: 1px solid #000;

            }
        }

        .tbody {
            .tr {
                display: flex;
                align-items: center;
            }
        }

        .td {
            width: 160px;
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;

            text-align: center;
        }
    }
}