.App {
  text-align: center;
}

.tab {
  margin:20px;
  width: 100px;
  height: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid green;
}

.tab1,.tab2 {
  text-align: center;
  flex: 1;
  cursor: pointer;
}