@import '~antd/dist/antd.css';

.App {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  box-sizing: border-box;
}
.searchbox{
  margin-bottom: 20px;
}
.tab {
  margin-bottom: 20px;
  /* width: 99px; */
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.subTab {
  text-align: center;
  width: 50px;
  cursor: pointer;
  border: 1px solid green;

}