.App {
  text-align: center;
  padding:20px;
  box-sizing: border-box;
}

.tab {
  margin-bottom:20px;
  /* width: 99px; */
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.subTab {
  text-align: center;
  width: 50px;
  cursor: pointer;
  border: 1px solid green;

}